<mat-toolbar class="menu-bar">
    <mat-toolbar-row>
        <button mat-icon-button class="menu-icon" (click)="toggleMenuStats()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="full-logo">
            <img src="assets/img/darckViper_32p.png" class="img-viper" alt="GymStore-Home"/>
            <a routerLink="/products"> GymStore </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="mobile-menu">
    <ul>
        <li class="nav-item"><a routerLink="/products" class="nav-link" (click)="toggleMenuStats()"><p>Loja</p></a></li>
        <li class="nav-item"><a routerLink="/" class="nav-link" (click)="toggleMenuStats()">Carrinho</a></li>
        <li class="nav-item"><a routerLink="/products/single-product" class="nav-link" (click)="toggleMenuStats()">Produto Unitario</a></li>
    </ul>
</div>

<router-outlet></router-outlet>