<div class="store-main">
    <div class="store-row">
        <mat-card class="product-card">
            <div class="product-card-div">
                <a routerLink="/products/single-product">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">    
                </a>
                <a routerLink="/products/single-product" class="products-to-single-link">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nome Produto</mat-card-title>
                    <mat-card-subtitle>Valor</mat-card-subtitle>
                    </mat-card-header>
                </a>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </div>
          </mat-card>

          <mat-card class="product-card">
            <div class="product-card-div">
                <a routerLink="/products/single-product">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">    
                </a>
                <a routerLink="/products/single-product" class="products-to-single-link">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nome Produto</mat-card-title>
                    <mat-card-subtitle>Valor</mat-card-subtitle>
                    </mat-card-header>
                </a>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </div>
          </mat-card>

          <mat-card class="product-card">
            <div class="product-card-div">
                <a routerLink="/products/single-product">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">    
                </a>
                <a routerLink="/products/single-product" class="products-to-single-link">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nome Produto</mat-card-title>
                    <mat-card-subtitle>Valor</mat-card-subtitle>
                    </mat-card-header>
                </a>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </div>
          </mat-card>

          <mat-card class="product-card">
            <div class="product-card-div">
                <a routerLink="/products/single-product">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">    
                </a>
                <a routerLink="/products/single-product" class="products-to-single-link">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nome Produto</mat-card-title>
                    <mat-card-subtitle>Valor</mat-card-subtitle>
                    </mat-card-header>
                </a>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
            </div>
          </mat-card>

          
</div>
