<div id="store-main">
     <div class="store-row">
        <mat-card class="product-card">
            <div class="product-card-div">
                <a routerLink="/products/single-product">
                    <img mat-card-image src={{product1.image}} >    
                </a>
                <a routerLink="/products/single-product" class="products-to-single-link">
                    <mat-card-header>
                    <mat-card-title>{{product1.name}}</mat-card-title>
                    <mat-card-subtitle>{{product1.brlConverter(product1.price)}}</mat-card-subtitle>
                    </mat-card-header>
                </a>
                <mat-card-content>
                  <p>
                    {{product1.description}}
                  </p>
                </mat-card-content>
            </div>
        </mat-card>

        <mat-card class="product-card">
          <div class="product-card-div">
              <a routerLink="/products/single-product">
                  <img mat-card-image src={{product2.image}} >    
              </a>
              <a routerLink="/products/single-product" class="products-to-single-link">
                  <mat-card-header>
                  <mat-card-title>{{product2.name}}</mat-card-title>
                  <mat-card-subtitle>{{product2.brlConverter(product2.price)}}</mat-card-subtitle>
                  </mat-card-header>
              </a>
              <mat-card-content>
                <p>
                  {{product2.description}}
                </p>
              </mat-card-content>
          </div>
      </mat-card>

      <mat-card class="product-card">
        <div class="product-card-div">
            <a routerLink="/products/single-product">
                <img mat-card-image src={{product3.image}} >    
            </a>
            <a routerLink="/products/single-product" class="products-to-single-link">
                <mat-card-header>
                <mat-card-title>{{product3.name}}</mat-card-title>
                <mat-card-subtitle>{{product3.brlConverter(product3.price)}}</mat-card-subtitle>
                </mat-card-header>
            </a>
            <mat-card-content>
              <p>
                {{product3.description}}
              </p>
            </mat-card-content>
        </div>
    </mat-card>

    <mat-card class="product-card">
      <div class="product-card-div">
          <a routerLink="/products/single-product">
              <img mat-card-image src={{product4.image}} >    
          </a>
          <a routerLink="/products/single-product" class="products-to-single-link">
              <mat-card-header>
              <mat-card-title>{{product4.name}}</mat-card-title>
              <mat-card-subtitle>{{product4.brlConverter(product4.price)}}</mat-card-subtitle>
              </mat-card-header>
          </a>
          <mat-card-content>
            <p>
              {{product4.description}}
            </p>
          </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="store-row">
    <mat-card class="product-card">
        <div class="product-card-div">
            <a routerLink="/products/single-product">
                <img mat-card-image src={{product5.image}} >    
            </a>
            <a routerLink="/products/single-product" class="products-to-single-link">
                <mat-card-header>
                <mat-card-title>{{product5.name}}</mat-card-title>
                <mat-card-subtitle>{{product5.brlConverter(product5.price)}}</mat-card-subtitle>
                </mat-card-header>
            </a>
            <mat-card-content>
              <p>
                {{product5.description}}
              </p>
            </mat-card-content>
        </div>
    </mat-card>

    <mat-card class="product-card">
      <div class="product-card-div">
          <a routerLink="/products/single-product">
              <img mat-card-image src={{product6.image}} >    
          </a>
          <a routerLink="/products/single-product" class="products-to-single-link">
              <mat-card-header>
              <mat-card-title>{{product6.name}}</mat-card-title>
              <mat-card-subtitle>{{product6.brlConverter(product6.price)}}</mat-card-subtitle>
              </mat-card-header>
          </a>
          <mat-card-content>
            <p>
              {{product6.description}}
            </p>
          </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="product-card">
      <div class="product-card-div">
          <a routerLink="/products/single-product">
              <img mat-card-image src={{product7.image}} >    
          </a>
          <a routerLink="/products/single-product" class="products-to-single-link">
              <mat-card-header>
              <mat-card-title>{{product7.name}}</mat-card-title>
              <mat-card-subtitle>{{product7.brlConverter(product7.price)}}</mat-card-subtitle>
              </mat-card-header>
          </a>
          <mat-card-content>
            <p>
              {{product7.description}}
            </p>
          </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="product-card">
      <div class="product-card-div">
          <a routerLink="/products/single-product">
              <img mat-card-image src={{product8.image}} >    
          </a>
          <a routerLink="/products/single-product" class="products-to-single-link">
              <mat-card-header>
              <mat-card-title>{{product8.name}}</mat-card-title>
              <mat-card-subtitle>{{product8.brlConverter(product8.price)}}</mat-card-subtitle>
              </mat-card-header>
          </a>
          <mat-card-content>
            <p>
              {{product8.description}}
            </p>
          </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="store-row">
    <mat-card class="product-card">
        <div class="product-card-div">
            <a routerLink="/products/single-product">
                <img mat-card-image src={{product9.image}} >    
            </a>
            <a routerLink="/products/single-product" class="products-to-single-link">
                <mat-card-header>
                <mat-card-title>{{product9.name}}</mat-card-title>
                <mat-card-subtitle>{{product9.brlConverter(product9.price)}}</mat-card-subtitle>
                </mat-card-header>
            </a>
            <mat-card-content>
              <p>
                {{product9.description}}
              </p>
            </mat-card-content>
        </div>
    </mat-card>

    <mat-card class="product-card">
      <div class="product-card-div">
          <a routerLink="/products/single-product">
              <img mat-card-image src={{product10.image}} >    
          </a>
          <a routerLink="/products/single-product" class="products-to-single-link">
              <mat-card-header>
              <mat-card-title>{{product10.name}}</mat-card-title>
              <mat-card-subtitle>{{product10.brlConverter(product10.price)}}</mat-card-subtitle>
              </mat-card-header>
          </a>
          <mat-card-content>
            <p>
              {{product10.description}}
            </p>
          </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="product-card">
      <div class="product-card-div">
          <a routerLink="/products/single-product">
              <img mat-card-image src={{product11.image}} >    
          </a>
          <a routerLink="/products/single-product" class="products-to-single-link">
              <mat-card-header>
              <mat-card-title>{{product11.name}}</mat-card-title>
              <mat-card-subtitle>{{product11.brlConverter(product11.price)}}</mat-card-subtitle>
              </mat-card-header>
          </a>
          <mat-card-content>
            <p>
              {{product11.description}}
            </p>
          </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="product-card">
    <div class="product-card-div">
        <a routerLink="/products/single-product">
            <img mat-card-image src={{product12.image}} >    
        </a>
        <a routerLink="/products/single-product" class="products-to-single-link">
            <mat-card-header>
            <mat-card-title>{{product12.name}}</mat-card-title>
            <mat-card-subtitle>{{product12.brlConverter(product12.price)}}</mat-card-subtitle>
            </mat-card-header>
        </a>
        <mat-card-content>
          <p>
            {{product12.description}}
          </p>
        </mat-card-content>
    </div>
    </mat-card>
  </div>
</div>
